{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block page_content %}

    <div class="row">
        <div class="col-md-4">


        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid box-primary">
                {{ macro.box_header('List Questionnaires', true, false, 'primary') }}
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {% if is_granted('ROLE_QUEST_AJOUTER') %}<button class="btn-info">Ajouter(ROLE_ajouter) </button></th>
                                    {% endif %}
                                <th><button class="btn-warning">Lister </button></th></th>
                            </tr>

                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid box-primary">
                {{ macro.box_header('List Questions', true, false, 'primary') }}
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {% if is_granted('ROLE_QUEST_AJOUTER') %}<button class="btn-info">Ajouter(ROLE_ajouter) </button></th>
                                {% endif %}
                                <th><button class="btn-warning">Lister </button></th></th>
                            </tr>

                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid box-primary">
                {{ macro.box_header('List Reponses', true, false, 'primary') }}
                <div class="box-body">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    {% if is_granted('ROLE_QUEST_AJOUTER') %}<button class="btn-info">Ajouter(ROLE_ajouter) </button></th>
                                {% endif %}
                                <th><button class="btn-warning">Lister </button></th></th>
                            </tr>


                        </table>
                    </div><!-- /.box-body -->
                </div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-6">
                <div class="box box-solid box-primary">
                    {{ macro.box_header('List User (just for users with role = ROLE_ADMIN)', true, false, 'primary') }}
                    <div class="box-body">
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>
                                        {% if is_granted('ROLE_QUEST_AJOUTER') %}<button class="btn-info">Ajouter(ROLE_ajouter) </button></th>
                                    {% endif %}
                                    <th><button class="btn-warning">Lister </button></th></th>
                                </tr>


                            </table>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            </div>
            {% endif %}
    </div>


{% endblock %}

{% block page_title %} Lists {% endblock %}
{% block page_subtitle %} of All {% endblock %}